/* container do tabuleiro */
.content {
  width: 895px;
  display: flex;
  flex-flow: row;
  margin: auto;
}
.container {
  width: 465px;
  border: #ccc 10px;
  margin: 15px;
}
h1 {
  width: 500px;
  margin: auto;
}
.player {
  width: 200px;
  border-radius: 5px;
  text-align: center;
}
#pl1 {
  background-color: darkcyan;
}
#pl2 {
  background-color: darkorange;
}

/* DIVs do tabuleiro */
.container > div {
  display: flex;
  float: left;
}

.clear {
  clear: both;
}

/* tamanho da celula e características comuns*/
.cell {
  position: relative;
  width: 60px;
  height: 60px;
  transform: scale(1.18);
  z-index: 0;
}

.hline {
  position: relative;
  width: 60px;
  height: 5px;
  margin: 5px 0;
  background-color: #aaa;
  z-index: 1;
}
.hline:hover {
  background-color: #333;
  cursor: pointer;
}
.vline {
  position: relative;
  width: 5px;
  height: 60px;
  background-color: #aaa;
  margin: 0px 5px;
  z-index: 1;
}
.vline:hover {
  cursor: pointer;
  background-color: #333;
}
.active {
  background-color: #333;
}

.pl1 {
  background-color: darkcyan;
}
.pl2 {
  background-color: darkorange;
}

.point {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #333;
  z-index: 1;
}
